* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(189, 192, 194);
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.navbar h1 {
  font-size: 28px;
}

.navbar ul {
  display: flex;
  gap: 50px;
  margin-right: 50px;
}

.navbar a {
  text-decoration: none;
  color: rgb(38, 38, 38);
  font-size: 16px;
  font-weight: 600;
}

.navbar a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  margin-top: 50px;
}

/* .home h1,
h3,
p {
  color: whitesmoke;
} */

.home img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  border-style: solid;
  border: none;
  border-width: 1px;
  background-color: rgb(152, 174, 194);
  transition: 1s;
}

.home img:hover {
  transform: scale(1.1);
}

.home-btn {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.home-btn button {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: rgba(36, 36, 216, 0.797);
  color: rgb(191, 216, 238);
  font-size: 16px;
  font-weight: 800;
  padding: 7px;
  transition: 0.7s;
}

.home-btn button:hover {
  cursor: pointer;
  background-color: rgb(191, 216, 238);
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.about img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #a4a8aa;
}

.about-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about-btns button {
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 20%;
  border: none;
  margin: 10px;
  padding: 10px;
  transition: 0.3s ease;
}

.about-btns button:hover {
  cursor: pointer;
  background-color: #7c8688;
  color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.container a {
  text-decoration: none;
  color: black;
}

.project-card {
  width: 400px;
  height: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  padding: 35px;
  background-color: #d0d4d6;
  transition: 0.3s ease;
}

.project-card h2 {
  margin-top: 20px;
}

.project-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.project-card img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.contact img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #a4a8aa;
}

.contact-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact-btns button {
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 20%;
  border: none;
  margin: 10px;
  padding: 10px;
  transition: 0.3s ease;
}

.contact-btns button:hover {
  cursor: pointer;
  background-color: green;
  color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}
